html 
  head 
    title homepage 
  body 
  h1 this is the homepage section
  br
  a(href="/login") login
  br
  a(href="/logout") logout
  br

  a(href="/register") regiser 

  br
  a(href="/blog") blog
  
