html
  head
    title registration
  body
    form(action="/", method="post",type="multipart/form-data")
      Enter your name:
      br
      input(type="text",name="username")
      br
      Enter your age: 
      br
      input(type="number" name="age")
      br
      Enter the name of your school: 
      br
      input(type="text" name="school")
      br
      button(type="submit" ) register


    
