html
  head
    title login
    link(rel="stylesheet", href="index.css", type="text/css")
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

   
  body(style="background-image:url('bg.jpg'h)")
  
   

    
  
   h4.fon ART DE SERVICE
   section.sec
    img(src="icon.jpeg",alt="this is the image section")
  
  
  div.forms
    form(action="/login", method="post",type="multipart/form-data",class ="myform",style="text-align:center")
      h2
       u Login
      h4.err  #{error}
      label  Enter your name:
      br
      input(type="text",name="username")
      br
      br
      label Enter your Password:
      br 
      input(type="password",name="password" show)
      br
      input(type="submit", value="login" class="button")
      
      input(type = "file" value ="filename")

      br
      br
      a(href="/update" class="space") forgot password   
      
      a(href="/register") Create  Account
