html 
  head 
   title  register page 
  link(rel="stylesheet", href="index.css", type="text/css")
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  body(style="background-image:url('bg.jgpg'") 
   h4.fon STUDENT PORTAL
   section.sec
  
   div.forms
    h2 
     u Register
    form(action='/register',method="post",class="myform")
     h4.err #{error}
   
     input(type="text",name="username" required placeHolder="Enter your username")
     br
    
     input(type="email",name="email" required placeHolder="Enter Your Email Address")
     

     input(type="text",name="county" placeHolder="Enter your County")
     
     h4 Select  Gender :
     input(type="radio",name="gender",value="male") 
     label(for="gender") male 
     
     input(type="radio",name="gender",value="female") 
     label(for="gender") female
     
     input(type="radio",name="gender",value="none") 
     label(for="gender") None
  
     input(type="password",name="password1" required placeHolder="Enter Your Password")
     br
     button(type="submit" ,class="button") register
     br

     a(href="/login" ) Already have an Account 