html 
 head 
 title update page
link(rel="stylesheet", href="index.css", type="text/css")
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 body
 .forms
  
  form(action="/update",method="post")
    
    h4.fon ART DE SERVICE
    
    
    u RESET PAGE

    h4 Enter Email Address
    input(type="email",name="email")
    h4 Enter new password
    input(type="password",name="password_reset")
    br
    br
    input(type="submit",value="submit")
    br
    

    a(href="/login") back 

